body{
	padding: 0;
	margin: 0;
	background-color: #EEE8E8;
}

#titlecontainer{
	width: 100%;
	height: 70vh;

	border-bottom-width: 10px;
	border-bottom-color: #C65858;
	border-bottom-style: solid;
}

.parallax-window {
	min-height: 70vh;
	background: transparent;
}


.rTable{
	display: table;
	width: 100%;
}
.rTableRow{
	display: table-row;
}
.rTableCell{
	display: table-cell;
}
